<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Luggage Web Check In Portal | VIT Vellore</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%-include('partials/navbar') %>   
<div class="container">
    <h4>Hostel Administrative Office (MH & LH) Presents</h4>
    <h3>Dormitory Web Check-In & Check-Out Portal</h3>
    <hr>
    
</div> 
</body>
</html>